<template id="image-viewer-template">
	<img ref="img" class="image-viewer-blurry">
	</img>
	<div ref="overlay">
		<h1 ref="name">Bla</h1>
		<span ref="description">This is just a test</span>
	</div>
</template>

<script>
	customElements.define('image-viewer',
		class extends HTMLElement {
			constructor() {
				super();

				let template = document.getElementById('image-viewer-template');
				let clone = template.content.cloneNode(true);
				this.templateClone = clone;
				// Store references to DOM elements. The constructors of the sub web components will only be called on appendChild,
				// so it's safe to query elements by the ref attribute, even if some sub components contains the same ref attribute.
				this.refs = getTemplateRefs(clone);

				this.io = new IntersectionObserver((entries) => {
					entries.forEach(function (entry) {
						if (entry.isIntersecting) {
							entry.target.src = entry.target.dataset.src;
							entry.target.classList.remove("image-viewer-blurry");
						}
					});
				},
					{}
				);
			}

			connectedCallback() {
				this.appendChild(this.templateClone);
			}

			get name() {
				return this._name;
			}

			set name(name) {
				this._name = name;
				this.refs["name"].innerText = name;
			}

			get description() {
				return this._description;
			}

			set description(description) {
				this._description = description;
				this.refs["description"].innerText = description;
			}

			get url() {
				return this._url;
			}

			set url(url) {
				this._url = url;
				this.refs["link"].href = url;
			}

			setImage(width, height, image, nanoImage) {
				this.refs["img"].style["width"] = width + "px"
				this.refs["img"].style["height"] = height + "px"
				this.refs["img"].style.backgroundImage = "url('" + nanoImage + "')"
				this.refs["img"].dataset.src = image;
				this.io.unobserve(this.refs["img"]);
				this.io.observe(this.refs["img"]);
			}

			static get observedAttributes() { return []; }

			attributeChangedCallback(name, oldValue, newValue) {
				switch (name) {
				}
			}

		}
	);
</script>