<script>
	customElements.define('gallery-list',
		class extends HTMLElement {
			constructor() {
				super();
			}

			connectedCallback() {
			}

			get value() {
				let items = this.items;
				return items;
			}

			set value(items) {
				this.items = items;

				this.innerHTML = "";
				let that = this;
				this.items.forEach(function (item, index) {
					let entry = that.appendChild(document.createElement("gallery-image"));
					let height = 400; // px
					let width = height / item.height * item.width
					entry.setImage(width, height, item.image, item.nanoImage);
					entry.url = item.url.replace(/%/g, "%25"); // FIXME: Get templates to output correct URL encoded string
					entry.name = item.name;
					entry.description = item.description;
				});
				this.appendChild(document.createElement("div"));
			}
		}
	);
</script>