<template id="image-viewer-template">
	<pinch-zoom min-scale="1" ref="zoom">
		<img ref="img" />
	</pinch-zoom>
	<div ref="menu" class="w3-display-topmiddle overlay-container w3-xlarge">
		<a ref="button-left" id="button-left" class="w3-bar-item w3-button w3-disabled"><i class="fas fa-chevron-left"></i></a>
		<!--<a ref="button-home" class="w3-bar-item w3-button w3-disabled"><i class="fa fa-home"></i></a>-->
		<a ref="button-level-up" class="w3-bar-item w3-button w3-disabled"><i class="fas fa-th-large"></i></a>
		<a ref="button-download" class="w3-bar-item w3-button w3-disabled"><i class="fa fa-download"></i></a>
		<!--<a ref="button-fullscreen" class="w3-bar-item w3-button"><i class="fas fa-expand"></i></a>-->
		<a ref="button-right" id="button-right" class="w3-bar-item w3-button w3-disabled"><i class="fas fa-chevron-right"></i></a>
	</div>
	<!--<div ref="overlay">
		<h1 ref="name">Bla</h1>
		<span ref="description">This is just a test</span>
	</div>-->
</template>

<script>
	customElements.define('image-viewer',
		class extends HTMLElement {
			constructor() {
				super();

				let template = document.getElementById('image-viewer-template');
				let clone = template.content.cloneNode(true);
				this.templateClone = clone;
				// Store references to DOM elements. The constructors of the sub web components will only be called on appendChild,
				// so it's safe to query elements by the ref attribute, even if some sub components contains the same ref attribute.
				this.refs = getTemplateRefs(clone);

				// Switch to high res original image when the user zooms in
				this._switchedToHighRes = false;
				let that = this;
				this.refs["zoom"].addEventListener('change', function (e) {
					if (e.target.scale !== 1 && !this._switchedToHighRes) {
						this._switchedToHighRes = true;
						that.refs["img"].style.backgroundImage = "url('" + encodeURI(that._reducedURL) + "')";
						that.refs["img"].src = encodeURI(that._originalURL);
					}
				});

				/*this.refs["button-fullscreen"].addEventListener("click", function() {
					toggleFullscreen(that);
				});*/
			}

			connectedCallback() {
				this.appendChild(this.templateClone);
			}

			get name() {
				return this._name;
			}

			set name(name) {
				this._name = name;
				//this.refs["name"].innerText = name;
			}

			get description() {
				return this._description;
			}

			set description(description) {
				this._description = description;
				//this.refs["description"].innerText = description;
			}

			get previousURL() {
				return this._previousURL;
			}

			set previousURL(url) {
				this._previousURL = url;
				if (url === "") {
					this.refs["button-left"].classList.add("w3-disabled");
				} else {
					this.refs["button-left"].classList.remove("w3-disabled");
				}
				this.refs["button-left"].href = encodeURI(url);
			}

			get nextURL() {
				return this._nextURL;
			}

			set nextURL(url) {
				this._nextURL = url;
				if (url === "") {
					this.refs["button-right"].classList.add("w3-disabled");
				} else {
					this.refs["button-right"].classList.remove("w3-disabled");
				}
				this.refs["button-right"].href = encodeURI(url);
			}

			get homeURL() {
				return this._homeURL;
			}

			set homeURL(url) {
				this._homeURL = url;
				/*if (url === "") {
					this.refs["button-home"].classList.add("w3-disabled");
				} else {
					this.refs["button-home"].classList.remove("w3-disabled");
				}
				this.refs["button-home"].href = encodeURI(url);*/
			}

			get upURL() {
				return this._upURL;
			}

			set upURL(url) {
				this._upURL = url;
				if (url === "") {
					this.refs["button-level-up"].classList.add("w3-disabled");
				} else {
					this.refs["button-level-up"].classList.remove("w3-disabled");
				}
				this.refs["button-level-up"].href = encodeURI(url);
			}

			get downloadURL() {
				return this._downloadURL;
			}

			set downloadURL(url) {
				this._downloadURL = url;
				if (url === "") {
					this.refs["button-download"].classList.add("w3-disabled");
				} else {
					this.refs["button-download"].classList.remove("w3-disabled");
				}
				this.refs["button-download"].href = encodeURI(url);
			}

			setImages(width, height, nanoURL, reducedURL, originalURL) {
				this._nanoURL = nanoURL;
				this._reducedURL = reducedURL;
				this._originalURL = originalURL;
				this.refs["img"].style.backgroundImage = "url('" + this._nanoURL + "')";
				this.refs["img"].src = encodeURI(this._reducedURL);
			}

			static get observedAttributes() { return []; }

			attributeChangedCallback(name, oldValue, newValue) {
				switch (name) {
				}
			}

		}
	);
</script>