<template id="image-viewer-template">
	<pinch-zoom min-scale="1" ref="zoom">
		<img ref="img" />
	</pinch-zoom>
	<div ref="sidebutton-left" id="sidebutton-left" class="sidebutton hidden">
		<a ref="sidebutton-left-link">
			<i class="fas fa-chevron-left"></i>
		</a>
	</div>
	<div ref="sidebutton-right" id="sidebutton-right" class="sidebutton hidden">
		<a ref="sidebutton-right-link">
			<i class="fas fa-chevron-right"></i>
		</a>
	</div>
	<!--<div ref="overlay">
		<h1 ref="name">Bla</h1>
		<span ref="description">This is just a test</span>
	</div>-->
</template>

<script>
	customElements.define('image-viewer',
		class extends HTMLElement {
			constructor() {
				super();

				let template = document.getElementById('image-viewer-template');
				let clone = template.content.cloneNode(true);
				this.templateClone = clone;
				// Store references to DOM elements. The constructors of the sub web components will only be called on appendChild,
				// so it's safe to query elements by the ref attribute, even if some sub components contains the same ref attribute.
				this.refs = getTemplateRefs(clone);

				// Switch to high res original image when the user zooms in
				this._switchedToHighRes = false;
				let that = this;
				this.refs["zoom"].addEventListener('change', function (e) {
					if (e.target.scale !== 1 && !this._switchedToHighRes) {
						this._switchedToHighRes = true;
						that.refs["img"].style.backgroundImage = "url('" + encodeURI(that._reducedURL) + "')";
						that.refs["img"].src = encodeURI(that._originalURL);
					}
				});
			}

			connectedCallback() {
				this.appendChild(this.templateClone);
			}

			get name() {
				return this._name;
			}

			set name(name) {
				this._name = name;
				//this.refs["name"].innerText = name;
			}

			get description() {
				return this._description;
			}

			set description(description) {
				this._description = description;
				//this.refs["description"].innerText = description;
			}

			get previousURL() {
				return this._previousURL;
			}

			set previousURL(url) {
				this._previousURL = url;
				if (url === "") {
					this.refs["sidebutton-left"].classList.add("hidden");
				} else {
					this.refs["sidebutton-left"].classList.remove("hidden");
				}
				this.refs["sidebutton-left-link"].href = encodeURI(url);
			}

			get nextURL() {
				return this._nextURL;
			}

			set nextURL(url) {
				this._nextURL = url;
				if (url === "") {
					this.refs["sidebutton-right"].classList.add("hidden");
				} else {
					this.refs["sidebutton-right"].classList.remove("hidden");
				}
				this.refs["sidebutton-right-link"].href = encodeURI(url);
			}

			setImages(width, height, nanoURL, reducedURL, originalURL) {
				this._nanoURL = nanoURL;
				this._reducedURL = reducedURL;
				this._originalURL = originalURL;
				this.refs["img"].style.backgroundImage = "url('" + this._nanoURL + "')";
				this.refs["img"].src = encodeURI(this._reducedURL);
			}

			static get observedAttributes() { return []; }

			attributeChangedCallback(name, oldValue, newValue) {
				switch (name) {
				}
			}

		}
	);
</script>