<template id="album-entry-template">
	<a ref="link">
		<album-preview ref="preview" style="width: 300px; height: 300px; display: block;"></album-preview>
		<h1 ref="name"></h1>
		<!--<span ref="description"></span>-->
	</a>
</template>
<script>
	customElements.define('album-entry',
		class extends HTMLElement {
			constructor() {
				super();

				let template = document.getElementById('album-entry-template');
				let clone = template.content.cloneNode(true);
				this.templateClone = clone;
				// Store references to DOM elements. The constructors of the sub web components will only be called on appendChild,
				// so it's safe to query elements by the ref attribute, even if some sub components contains the same ref attribute.
				this.refs = getTemplateRefs(clone);
			}

			connectedCallback() {
				this.appendChild(this.templateClone);
			}

			get name() {
				return this._name;
			}

			set name(name) {
				this._name = name;
				this.refs["name"].innerText = name;
			}

			get description() {
				return this._description;
			}

			set description(description) {
				this._description = description;
				//this.refs["description"].innerText = description;
			}

			get url() {
				return this._url;
			}

			set url(url) {
				this._url = url;
				this.refs["link"].href = url;
			}

			get images() {
				let images = this._images;
				return images;
			}

			set images(images) {
				this._images = images;
				this.refs["preview"].value = images;
			}

			static get observedAttributes() { return []; }

			attributeChangedCallback(name, oldValue, newValue) {
				switch (name) {
				}
			}

		}
	);
</script>