<template id="gallery-image-template">
	<a ref="link">
		<img ref="img" class="gallery-image-blurry">
		</img>
		<div ref="overlay">
			<h1 ref="name">Bla</h1>
			<!--<span ref="description">This is just a test</span>-->
		</div>
	</a>
</template>

<script>
	customElements.define('gallery-image',
		class extends HTMLElement {
			constructor() {
				super();

				let template = document.getElementById('gallery-image-template');
				let clone = template.content.cloneNode(true);
				this.templateClone = clone;
				// Store references to DOM elements. The constructors of the sub web components will only be called on appendChild,
				// so it's safe to query elements by the ref attribute, even if some sub components contains the same ref attribute.
				this.refs = getTemplateRefs(clone);

				this.io = new IntersectionObserver((entries) => {
					entries.forEach(function (entry) {
						if (entry.isIntersecting) {
							entry.target.src = entry.target.dataset.src;
							entry.target.classList.remove("gallery-image-blurry");
						}
					});
				},
					{}
				);
			}

			connectedCallback() {
				this.appendChild(this.templateClone);
			}

			get name() {
				return this._name;
			}

			set name(name) {
				this._name = name;
				this.refs["name"].innerText = name;
			}

			get description() {
				return this._description;
			}

			set description(description) {
				this._description = description;
				//this.refs["description"].innerText = description;
			}

			get url() {
				return this._url;
			}

			set url(url) {
				this._url = url;
				this.refs["link"].href = encodeURI(url);
			}

			setImage(width, height, image, nanoImage) {
				this.refs["img"].width = width;
				this.refs["img"].height = height;
				this.refs["img"].style.backgroundImage = "url('" + nanoImage + "')";
				this.refs["img"].dataset.src = image;
				this.io.unobserve(this.refs["img"]);
				this.io.observe(this.refs["img"]);
			}

			setSize(width, height) {
				this.refs["img"].width = width;
				this.refs["img"].height = height;
			}

			static get observedAttributes() { return []; }

			attributeChangedCallback(name, oldValue, newValue) {
				switch (name) {
				}
			}

		}
	);
</script>