<script>
	customElements.define('album-list',
		class extends HTMLElement {
			constructor() {
				super();
			}

			connectedCallback() {
			}

			get items() {
				let items = this._items;
				return items;
			}

			set items(items) {
				this._items = items;

				this.innerHTML = "";
				let that = this;
				this._items.forEach(function (item, index) {
					let entry = that.appendChild(document.createElement("album-entry"));
					entry.url = encodeURI(item.url);
					entry.name = item.name;
					entry.description = item.description;
					entry.images = item.images;
				});
			}
		}
	);
</script>