album-preview {
	position: relative;
	background-size: cover;
}

album-preview>div {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
}

album-preview>div {
	pointer-events: none;
}

album-preview>div>img {
	max-width: 40%;
	max-height: 40%;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
	transition: max-width .5s, max-height .5s, rotate 1s, box-shadow .5s;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

album-preview:hover>div>img {
	max-width: 60%;
	max-height: 60%;
	box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

album-preview>div:nth-child(1)>img {
	transform: translate(-80%, -80%) rotate(10deg);
	-webkit-transform: translate(-80%, -80%) rotate(10deg);
}
album-preview:hover>div:nth-child(1)>img {
	max-width: 50%;
	max-height: 50%;
	rotate: 5deg;
	-webkit-rotate: 5deg;
}
album-preview>div:nth-child(2)>img {
	transform: translate(-80%, 80%) rotate(-10deg);
	-webkit-transform: translate(-80%, 80%) rotate(-10deg);
}
album-preview:hover>div:nth-child(2)>img {
	rotate: -5deg;
	-webkit-rotate: -5deg;
}
album-preview>div:nth-child(3)>img {
	transform: translate(80%, -80%) rotate(5deg);
	-webkit-transform: translate(80%, -80%) rotate(5deg);
}
album-preview:hover>div:nth-child(3)>img {
	rotate: -5deg;
	-webkit-rotate: -5deg;
}
album-preview>div:nth-child(4)>img {
	transform: translate(80%, 80%) rotate(-15deg);
	-webkit-transform: translate(80%, 80%) rotate(-15deg);
}
album-preview:hover>div:nth-child(4)>img {
	rotate: 5deg;
	-webkit-rotate: 5deg;
}
album-preview>div:nth-child(5)>img {
	transform: translate(80%, 0) rotate(20deg);
	-webkit-transform: translate(80%, 0) rotate(20deg);
}