#hero {
	background-size: cover;
	background-position: center center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.hero-album-title {
	margin-top: 100px;
	padding: 20px;
}

gallery-list {
	display: flex;
	flex-wrap: wrap;
	margin: 2px;
}

gallery-list>*:last-child {
	flex-grow: 10000;
}

gallery-image {
	flex-grow: 1;
	margin: 2px;
	overflow: hidden;
	position: relative;
}

gallery-image>a>* {
	transition: transform .5s, opacity .5s, filter .5s;
}

gallery-image>a>div[ref="overlay"] {
	position: absolute;
	color: white;
	width: 100%;
	bottom: 0;
	padding: 10px;
	opacity: 0;
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
}

gallery-image:hover>a>img, gallery-image:focus>a>img {
	transform: scale(1.1);
}

gallery-image:hover>a>div[ref="overlay"], gallery-image:focus>a>div[ref="overlay"] {
	opacity: 1;
}

gallery-image>a>img {
	position: relative;
	max-height: 100%;
	min-width: 100%;
	object-fit: cover;
	top: 0;
	vertical-align: bottom;
	background-size: cover;
	background-position: center center;
	vertical-align: bottom;
}

.gallery-image-blurry {
	filter: blur(10px);
}